
/* import font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

body {
    font-family: 'Chewy', sans-serif;
    background-color: #e3e3e3;
}

#header {
    color: #455d7a;
    font-size: 50px;
    text-align: center;
}

#grid-container {
    background-color: #233142;
    border: solid #f95959 3px;
    width: 800px;
    height: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;    /* allows multiple rows */
}

.grid-cell {
    background-color: azure;
    border: solid #233142 1px;
    flex: 0 0 calc(100% / 16);  /* creates exactly 16 cells per row */
    aspect-ratio: 1 / 1;        /* creates perfect squares */
    box-sizing: border-box;     /* protects layout */
}